bin/
obj/
.DS_Store
.vs/
FaceRecognition.Api/Face.Api/bin/
FaceRecognition.Api/Face.Api/obj/
*.onnx
Models/
# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Models (pesados)
Models/

# Logs
*.log
publish/
faceapi.tar
